#headcontact {
    padding: 15px 0 34px 0;
    margin-left: 58.33333%;
}
#titlebar {
    padding-bottom: 30px;
}

#cart {
    padding-left: 26%;
}

.jumbotron {
    border-radius: 1px;
}

.green {
    background-color: #38c674;
}


.btn-lg {
    padding: 10px 50px;
    border-radius: 3px;
    background-color: #38c674;
}