body {
    font-family: 'Montserrat', sans-serif;
}

.btn {
    background-color: #38c674;
    color: white;
    
}

#headcontact {
    padding: 15px 0 34px 0;
    margin-left: 58.33333%;
    color: #4b4c4e;
}
#headcontact > a {
    color: #4b4c4e;
}

.glyphicon-shopping-cart {
    font-size: 1.5em;
    vertical-align: middle;
    color: #7d7d7d;
}

.cartbtn {
    background-color: white;
    color: #7d7d7d;
    border: 2px solid #38c674;
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.items {
    color: white;
    background-color: #38c674;
    margin: 0;
    margin-right: -8px;
    padding: 9px 13px 9px 13px;
    vertical-align: middle;
    border-radius: 3px;
}
.cartpointer {
    transform: rotate(90deg);
    margin-right: -8px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #38c674;
}


#titlebar {
    padding-bottom: 30px;
}
.searchbar {
    margin-left: -40px;
    margin-top: -4px;
    margin-right: -92px;
}

.searchinpt {
    background-color: #e4e9ec;
    border: none;
}
.glyphicon-menu-hamburger {
    padding: 0 5px 0 0;
}



.searchbtn {
    color: white;
    background-color: #9ca8b6;
}

.cart {
    vertical-align: middle;
}

.navbar-inverse {
    border-radius: 0px;
    background-color: #24364a;
    border: 0;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
    font-size: .85em;
    padding-left: 10px;
    padding-right: 10px;
}


.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #3c546c;
    margin-left: -15px;
    padding-right: 170px;
    font-size: 1em;
    margin-right: 3px;
}

.container .jumbotron {
    border-radius: 0px;
}




.btn-lg {
    padding: 10px 50px;
    border-radius: 3px;
}

#featprod {
    border: 1px solid #c9d2d9;
    background: #f7f7f7;
}

#viewbtn {
    padding: 3px 10px;
    background: #f7f7f7;
}








.carousel-control.left {
    background-image: none;
    width: 5%;
    left: -40px;
    color: red;
}
.carousel-control.right {
    background-image: none;
    width: 5%;
    right: -40px;
    color: red;
} 

.col-item .photo img {
    margin: 0 auto;
    width: 100%;
}
.col-item .info {
    padding: 10px;
    margin-top: 1px;
}
.col-item .price h5 {
    line-height: 20px;
    margin: 0;
}














.left-inner {
    position: relative;
}
.left-inner input{
    padding-left: 30px;
}
.left-inner i {
    position: absolute;
    padding: 10px 12px;
    z-index: 5;
}
.outernews {
    background-color: lightgray;
    padding: 15px;
    margin-bottom: 84px;
}
.innernews {
    position: relative;
    background-color: white;
    padding: 20px;
}
.mainfooter {
    padding-top: 46px;
    background-color: #24364a;
    color: white;
}
.subfooter {
    background-color: #1e2f41;
}
