body {
    font-family: 'Montserrat', sans-serif;
}

#headcontact {
    padding: 15px 0 34px 0;
    margin-left: 58.33333%;
}
#titlebar {
    padding-bottom: 30px;
}
.searchbar {
    margin-left: -40px;
    margin-top: -4px;
    margin-right: -92px;
}

.searchinpt {
    background-color: #e4e9ec;
    border: none;
}
.glyphicon-menu-hamburger {
    padding: 0 5px 0 0;
}



.searchbtn {
    color: white;
    background-color: #9ca8b6;
}

.cart {
    margin: 0;
    padding-left: 12%;
}

.navbar-inverse {
    border-radius: 0px;
    background-color: #24364a;
    border: 0;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
    font-size: .85em;
    padding-left: 10px;
    padding-right: 10px;
}


.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #3c546c;
    margin-left: -15px;
    padding-right: 170px;
    font-size: 1em;
    margin-right: 3px;
}

.container .jumbotron {
    border-radius: 0px;
}

.green {
    background-color: #38c674;
}


.btn-lg {
    padding: 10px 50px;
    border-radius: 3px;
    background-color: #38c674;
}

#featprod {
    border: 1px solid #c9d2d9;
    background: #f7f7f7;
}

#viewbtn {
    padding: 3px 10px;
    background: #f7f7f7;
}








.carousel-control.left {
    background-image: none;
    width: 5%;
    left: -40px;
    color: red;
}
.carousel-control.right {
    background-image: none;
    width: 5%;
    right: -40px;
    color: red;
} 

.col-item .photo img {
    margin: 0 auto;
    width: 100%;
}
.col-item .info {
    padding: 10px;
    margin-top: 1px;
}
.col-item .price h5 {
    line-height: 20px;
    margin: 0;
}













.left-inner {
    position: relative;
}
.left-inner input{
    padding-left: 30px;
}
.left-inner i {
    position: absolute;
    padding: 10px 12px;
    z-index: 5;
}
.outernews {
    background-color: lightgray;
    padding: 15px;
}
.innernews {
    position: relative;
    background-color: white;
    padding: 20px;
}
.mainfooter {
    padding-top: 46px;
    background-color: #24364a;
    color: white;
}
.subfooter {
    background-color: #1e2f41;
}
